.hero-img {
  background-color: #ff8c66;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.row-sizing .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  border-radius: 20px;
  background-color: #1c1f4a;
  width: 100%;
  height: 80%;
  top: 20%;
  position: absolute;
}

.row-sizing .content .current-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-sizing .content .current-hours .current-hours-text {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-sizing .content .current-hours h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.25rem;
}

.row-sizing .content .previous-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-sizing .content .previous-hours .previous-hours-text {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-sizing .content .previous-hours-text {
  text-align: right;
}

.row-sizing .content .previous-hours img {
  padding-bottom: 1rem;
}

.row-sizing .content .previous-hours p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #bdc1ff;
}

@media (min-width: 320px) {
  #grid {
    -ms-grid-rows: 200px 2fr;
        grid-template-rows: 200px 2fr;
    height: 100%;
    max-height: auto;
  }
  #grid .Jeremy-Robson .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #grid .Jeremy-Robson .filter-time-period ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row-sizing .content p {
    font-size: 0.85rem;
  }
  .nested-grid {
    -ms-grid-rows: (150px)[6];
        grid-template-rows: repeat(6, 150px);
  }
}

@media (min-width: 360px) {
  .row-sizing .content p {
    font-size: 0.9rem;
  }
}

@media (min-width: 767.98px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body #grid {
    height: 70%;
    width: 90%;
  }
  body #grid .Jeremy-Robson .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-rows: 2fr 0.75fr;
        grid-template-rows: 2fr 0.75fr;
  }
  body #grid .Jeremy-Robson .header img {
    margin: 0 0;
    margin-left: 2rem;
  }
  body #grid .Jeremy-Robson .header .header-text {
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  body #grid .Jeremy-Robson .header span {
    font-size: 3rem;
  }
  body #grid .nested-grid {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
  }
}

@media (min-width: 800px) and (max-width: 991.98px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  body #grid {
    width: 95%;
    height: 90%;
  }
}

@media (min-width: 991.98px) {
  #grid {
    -ms-grid-columns: 0.75fr 2fr;
        grid-template-columns: 0.75fr 2fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  #grid .Jeremy-Robson .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #grid .Jeremy-Robson .header img {
    width: 6rem;
    border-radius: 50px;
    margin: 0 0;
    margin-left: 2rem;
  }
  #grid .Jeremy-Robson .header .header-text {
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  #grid .Jeremy-Robson .header span {
    font-size: 3rem;
  }
  #grid .Jeremy-Robson .filter-time-period ul {
    font-size: 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 1.5rem;
  }
  #grid .nested-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  #grid .nested-grid .current-hours {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #grid .nested-grid .previous-hours .previous-hours-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  #grid .nested-grid .time-text {
    font-size: 3.5rem;
  }
  #grid .nested-grid h3 {
    font-size: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: auto;
  background-color: #0f1424;
}

#grid {
  width: 80%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  margin: auto;
  gap: 1rem;
}

#grid .Jeremy-Robson {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 0.9fr;
      grid-template-rows: 2fr 0.9fr;
  background-color: lightblue;
  border-radius: 20px;
  background-color: #1c1f4a;
}

#grid .Jeremy-Robson .header {
  background-color: #5847eb;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#grid .Jeremy-Robson .header-text {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #bdc1ff;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#grid .Jeremy-Robson span {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
}

#grid .Jeremy-Robson img {
  width: 4.5rem;
  margin: 0 1rem;
  border: 3px solid white;
  border-radius: 35px;
}

#grid .Jeremy-Robson .filter-time-period {
  width: 100%;
}

#grid .Jeremy-Robson .filter-time-period ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#grid .Jeremy-Robson .filter-time-period li {
  list-style-type: none;
}

#grid .Jeremy-Robson .filter-time-period a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #6f76c8;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#grid .Jeremy-Robson .filter-time-period a:hover {
  color: white;
}

#grid .nested-grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  max-height: auto;
}

#grid .nested-grid .row-sizing {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  border-radius: 25px;
  position: relative;
}

#grid .nested-grid h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.75rem;
}
/*# sourceMappingURL=main.css.map */