.hero-img {
  background-color: #ff8c66;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.row-sizing .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  background-color: #1c1f4a;
  width: 100%;
  height: 70%;
  top: 2rem;
  position: absolute;
}

.row-sizing .content .current-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-sizing .content .current-hours h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.25rem;
}

.row-sizing .content .current-hours h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.75rem;
}

.row-sizing .content .previous-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-sizing .content .previous-hours-text {
  text-align: right;
}

.row-sizing .content .previous-hours img {
  padding-bottom: 1rem;
}

.row-sizing .content .previous-hours p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #bdc1ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh auto;
  max-height: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #0f1424;
}

#grid {
  width: 80%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.8fr 2fr;
      grid-template-rows: 0.8fr 2fr;
  gap: 1rem;
}

#grid .Jeremy-Robson {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 0.9fr;
      grid-template-rows: 2fr 0.9fr;
  background-color: lightblue;
  border-radius: 20px;
  background-color: #1c1f4a;
}

#grid .Jeremy-Robson .header {
  background-color: #5847eb;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid .Jeremy-Robson .header-text {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #bdc1ff;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#grid .Jeremy-Robson span {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
}

#grid .Jeremy-Robson img {
  width: 4.5rem;
  margin: 0 1rem;
  border: 3px solid white;
  border-radius: 35px;
}

#grid .Jeremy-Robson .filter-time-period {
  width: 100%;
}

#grid .Jeremy-Robson .filter-time-period ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grid .Jeremy-Robson .filter-time-period li {
  list-style-type: none;
}

#grid .Jeremy-Robson .filter-time-period a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #6f76c8;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#grid .Jeremy-Robson .filter-time-period a:hover {
  color: white;
}

#grid .nested-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(150px, auto))[6];
      grid-template-rows: repeat(6, minmax(150px, auto));
  max-height: auto;
}

#grid .nested-grid .row-sizing {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  border-radius: 25px;
  position: relative;
}
/*# sourceMappingURL=main.css.map */