@import "_config";

.hero-img {
  background-color: $light-red-work;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.row-sizing {
  .content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 20px;
    background-color: $dark-blue;
    width: 100%;
    height: 80%;
    top: 20%;
    position: absolute;

    .current-hours {
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .current-hours-text {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h3 {
        @include fontWeight(300);
        color: white;
        font-size: 1.25rem;
      }
    }

    .previous-hours {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .previous-hours-text {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-text {
        text-align: right;
      }
      img {
        padding-bottom: 1rem;
      }

      p {
        @include fontWeight(300);
        // font-size: 0.9rem;
        color: $pale-blue;
      }
    }
  }
}
