@import "_config";

.hero-img {
  @include setBackground($work);
  background-color: $light-red-work;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top-left-radius: 25px;
  background-color: $dark-blue;

  .current-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      @include fontWeight(300);
      color: white;
      font-size: 1.25rem;
    }

    h2 {
      @include fontWeight(300);
      color: white;
      font-size: 1.75rem;
    }
  }
}
