@import "_config";
@import "_reused-classes";
@import "_queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: auto;

  background-color: $very-dark-blue;
}

#grid {
  width: 80%;
  height: 90%;
  display: grid;
  margin: auto;

  gap: 1rem;

  .Jeremy-Robson {
    display: grid;
    grid-template-rows: 2fr 0.9fr;
    background-color: lightblue;
    border-radius: 20px;
    background-color: $dark-blue;

    .header {
      background-color: $blue;
      border-radius: 20px;
      display: flex;
      // align-items: center;
    }

    .header-text {
      font-size: 1rem;
      @include fontWeight(400);
      color: $pale-blue;
      height: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    span {
      font-size: 1.5rem;
      @include fontWeight(300);
      color: white;
    }

    img {
      width: 4.5rem;
      margin: 0 1rem;
      border: 3px solid white;
      border-radius: 35px;
    }

    .filter-time-period {
      width: 100%;

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
      }

      li {
        list-style-type: none;
      }

      a {
        text-decoration: none;
        @include fontWeight(400);
        color: $desaturated-blue;
        transition: color 0.3s ease;
      }
      a:hover {
        color: white;
      }
    }
  }

  .nested-grid {
    display: grid;
    gap: 1rem;
    // grid-template-rows: repeat(6, 150px);
    max-height: auto;

    .row-sizing {
      display: grid;
      grid-template-rows: 1fr 2fr;
      border-radius: 25px;
      position: relative;
    }

    h2 {
      @include fontWeight(300);
      color: white;
      font-size: 1.75rem;
    }
  }
}
